{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
  },
  "plugins": [],
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": "off",
    "global-require": "off",
    "no-console": "off",
    "no-else-return": "off",
    "no-undef": "off",
    "consistent-return": "off",
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "quote-props": ["error", "consistent"],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-param-reassign": [0, { "props": false }],
    "linebreak-style": "off",
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  }
}
